<div class="card bg-dark text-white">
    <img src="https://theartsdesk.com/sites/default/files/mastimages/lady-macbeth-film%20seat%20blue.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <p class="card-text">Forence Pugh, Antony Whatever, Malcolm in the Middle</p>
        <p class="card-text">120min</p>
    </div>
</div>
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">This is the title of the movie</h5>
        <h6 class="card-subtitle mb-2 text-muted">This is the genre of the movie</h6>
        <p class="card-text">Annotation Annotation Annotation Annotation Annotation Annotation Annotation Annotation</p>
        <br />
        <p class="card-text">Choose a screening:</p>
        <a href="#" class="card-link">12:00</a>
        <a href="#" class="card-link">14:00</a>
        <a href="#" class="card-link">18:00</a>
    </div>
</div>