@model BookingsModel

@if (Model.UserFilms.Count == 0)
{
    <p>Booking wasn't successful!</p>
}
else
{
<div class="container">
    <h1>You've booked this film: @Model.ChosenFilm.Title at this time: @Model.Screening.StartTime</h1>
    <p></p>
    <a class="btn btn-primary" asp-controller="Film" asp-action="Cancel" asp-route-filmId="@Model.ChosenFilm.Id" role="button">Cancel</a>
</div>

}