@model BookingsModel

@if (Model.UserFilms.Count == 0)
{
    <p>Booking wasn't successful!</p>
}
else
{

    foreach (var film in Model.UserFilms)
    {
        <p>@film.FilmId</p>
    }
<div class="container">
    <h1>You've booked this film: @Model.ChosenFilm.Title at this time: @Model.Screening.StartTime</h1>
    <p></p>
    <button type="button" class="btn btn-secondary btn-sm" asp-controller="Film" asp-action="CancelBookings" asp-route-filmId="@Model.ChosenFilm.Id">Cancel</button>
</div>

}