@{
    ViewData["Title"] = "";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Newest films</li>
    </ol>
</nav>
<div class="row">
    @foreach (var film in Model)
    {
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="card">
                <img src="@film.Image" class="card-img" alt="" />
                <div class="card-body">
                    <a asp-controller="Film" asp-action="FilmChosen" class="card-link" asp-route-id="@film.Id">@film.Title</a>
                </div>
            </div>
        </div>
    }
</div>

